.root {
  display: flex;
}

.input {
  flex-grow: 1;
  padding: .8em 1.6em;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.button {
  border: 1px solid transparent;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

@media (max-width: 390px) {
  .button,
  .input {
    padding: .4em .8em;
    font-size: $baseFontSize;
  }
}