.root:not(.inline) {
  margin: $gapSmall 0;
}

.inline {
  display: inline-block;
}
.inline + .inline {
  margin-left: $gapSmall;
}

.separated + .separated:before {
  content: '\00B7';
  padding-right: $gapSmall;
}