.root {
  position: relative;
  cursor: pointer;
}
.root.open .menu {
  display: block;
}

.labelContainer {
  padding: .4em .8em;
  border-radius: $baseBorderRadius;
  background: $grayLight3;
}
.label {
  vertical-align: baseline;
}

.icon {
  margin-left: $gapSmall;
  transform: rotate(90deg);
}

.menu {
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
  margin-top: .4em;
  border-radius: $baseBorderRadius;
  background: $grayLight2;
}
