.root {
  @utils-clearfix;
}

.date {
  float: left;
  margin-right: $gapSmall;
  padding: .2em .4em;
  border-radius: $baseBorderRadius;
  background: $grayLight3;
  color: $grayLight1;
  font-size: $smallFontSize;
}
.unaired .date {
  background: $brand;
  color: #FFF;
}

.episode {
  overflow: hidden;
}
