html {
	font-size: 15px;
	box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

@media (max-width: 500px) {
	html {
		font-size: 16px;
	}
}

body {
  margin: 0;
  padding: 0;
  font-family: $baseFontFamily, sans-serif;
	font-size: $baseFontSize;
	line-height: 1.5;
	color: $grayDark2;
}

p {
	line-height: 1.6;
}

button {
	color: $grayDark2;
}

a {
	color: $brand;
	text-decoration: none;
}
a:hover {
	color: $brandDarken;
}

input {
	padding: .4em .8em;
	border-radius: $baseBorderRadius;
	border: 1px solid $grayLight2;
	font-size: 1em;
}
input[type="search"] {
   -webkit-appearance: textfield;
   -webkit-box-sizing: content-box;
}

:global(.container) {
	max-width: 900px;
	margin: 0 auto;
	padding: $gap;
};
