.product {
  @utils-clearfix;
}

.headingContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.heading {
  margin-right: $gap;
}

.summary {
  margin: $gap 0;
}

.poster {
  float: left;
  margin-right: $gap;
  width: 150px;
}