.root {
  border-radius: $baseBorderRadius;
  border-width: 0;
  background: $grayLight2;
  cursor: pointer;
}
.root:hover {
  background: $grayLight1;
}

.root + .root {
  margin-left: 5px;
}

.active {
  background: $brand;
  color: #FFF;
}
.active:hover {
  background: #226A94;
}

/* sizes */
.small {
  padding: .3em .6em;
  font-size: $smallFontSize;
}
.regular {
  padding: .4em .8em;
  font-size: $baseFontSize;
}
.big {
  padding: .7em 1.6em;
  font-size: $mediumFontSize;
}